<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body
        style="
            margin-left: 25%;
            margin-top: 10%;
            width: 50%;
            height: 80%;
            border: 3px solid green;
            padding: 10px;
        "
    >
        <h1 align="center">TAMBAH ORANG</h1>
        <button
            id="add-count-btn"
            style="
                display: inline-block;
                margin-top: 20px;
                width: 30%;
                border: none;
                padding-bottom: 5px;
                box-shadow: 2px 2px rgba(0, 0, 0, 0.12);
                background-color: #a86cc5;
                color: #ffffff;
                border-radius: 20px;
                margin-left: 35%;
                font-size: 30px;
                font-weight: 600;
            "
        >
            +
        </button>
    </body>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>

    <script type="module" src="./js/incremental.js"></script>
</html>
