*{
    margin: 0;
    padding: 0;

    background: #FFFFFF;
}

html{
    scroll-behavior: smooth;
}

/**************** actual css classes start *************/

.gambar {
    width: 121px;
    height: 43px;
    position: absolute;
    left: 130px;
    top: 30px;
}

.link {
    margin: 15px;
}

.link span{
    color: black;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.tombol{
    width: 120px;
    height: 50px;
    left: 1190px;
    top: 100px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 24px;
    background-color: #A86CC5;
} 

.tombol span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    background-color:#A86CC5 ;
    color: #FFFFFF;
}

.logohome{
    width: 369px;
    height: 369px;
    left: 65.35%;
    right: 9.03%;
    top: 31.93%;
    bottom: 32.03%;
}

.atas {
    font-size: 96px;
    margin-left: 200px;
    color: #A86CC5;
    font-weight: 700;
    font-family: 'Noto Sans JP';
    font-style: normal;
}

.bawah{
    font-size: 96px;
    margin-left: 200px;
    color: #00C9B5;
    font-weight: 700;
    font-family: 'Noto Sans JP';
    font-style: normal;
}

.ket{
    margin-top: 50px;
    margin-left: 170px;
    font-style: normal;
    font-family: 'Lato';
    width: 690px;
    height: 108px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;

    color: #686868;
}

.want{
    margin-top: 25px;
    margin-left: 170px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 150%;

color: #A86CC5;
}

.start{
    background-color: #A86CC5;
    margin-left: 170px;
    margin-top: 10px;
    width: 224px;
    height: 75px;
    border-radius: 20px
}

.start span{
    color: white;
    background-color:#A86CC5 ;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
}